.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.card__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background-color: transparent;
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.2s linear;
}
.card__like-button_active {
  background: url(../images/heartActive.svg) no-repeat transparent;
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__delete-button {
  background-image: url(../images/Trash@2x.svg);
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
