.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  pointer-events: none;
  transition: visibility 0s, opacity 0.2s linear;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.2s linear;
}

.modal__wrapper {
  display: flex;
  height: 330px;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-top: 195px;
  left: 425px;
  right: 425px;
}

.modal__edit-close {
  background-image: url("../images/close.svg");
  background-color: transparent;
  border: none;
  margin-bottom: 380px;
  margin-left: 490px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  width: 40px;
  height: 40px;
  transition: opacity 0.2s linear;
  position: absolute;
}
.modal__edit-close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__container {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__title {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  padding: 34px 64px 20px 36px;
  margin: 0;
  width: 330px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 20px;
  margin: 0;
  max-width: 358px;
}
.modal__input {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  height: 27.26px;
  box-sizing: border-box;
  margin-bottom: 29.75px;
  margin-top: 0;
}
.modal__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__submit {
  height: 50.15px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  text-align: center;
  margin-bottom: 36.51px;
}
.modal__submit:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}
.modal__submit_disabled:hover {
  opacity: 1;
  cursor: default;
}
.modal__submit_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid;
  cursor: default;
  border-radius: 2px;
}
.modal__container-image {
  margin: 90px 423px 90px 424px;
  padding: 0;
  border-radius: 0;
  border: none;
  width: 433px;
  height: 540px;
}

.modal__text {
  display: flex;
  position: absolute;
  width: 291px;
  left: 424px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #fff;
}
.modal__edit-close-preview {
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 41px;
  bottom: 622px;
  left: 850px;
  margin: 0 374px 0 0;
  padding: 0;
}

.modal__edit-close-preview:hover {
  cursor: pointer;
  opacity: 60%;
}
.modal__image-preview {
  object-fit: cover;
  object-position: 50% 50%;
  width: 433px;
  height: 540px;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.2;
  height: 7px;
}
.modal__error:first-of-type {
  padding-bottom: 20px;
}
.modal__error_visible {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 480px) {
  .modal__wrapper {
    padding: 0;
    left: 19px;
    right: 19px;
    bottom: 123px;
    top: 123px;
  }
  .modal__edit-close {
    margin-bottom: 390px;
    margin-left: 250px;
    width: 26px;
    height: 26px;
  }

  .modal__container {
    height: 322px;
    width: 282px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 20px;
  }
  .modal__form {
    max-width: 238px;
    margin: 0;
  }
  .modal__fieldset {
    padding-left: 22px;
    padding-right: 22px;
  }
  .modal__input {
    max-width: 238px;
    width: 100%;
  }

  .modal__submit {
    height: 46px;
    width: 238px;
  }
}
