.page {
  background-color: black;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
}

.page__section {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
