.cards {
  text-align: left;
  margin-top: 47.25px;
}

.cards__list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .cards__list {
    display: flex;
    flex-direction: column;
  }

  .cards {
    margin-top: 36px;
  }
}
